/* back link style */

.backLink {
  display: flex;
  gap: 30px;
  font-size: 18px;
  align-items: center;
  margin-bottom: 1.3%;
  cursor: pointer;
  width: fit-content;
}

.backLink svg {
  fill: var(--foreground);
}

/* Logo style */

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 2% 0;
}

.logo h1 {
  font-size: 24px;
  font-weight: 700;
}
