/** @format */

.transferToVault {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transferToVault form {
  background-color: var(--background);
  border: 1px solid var(--border);
  padding: 50px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: popup 0.3s ease-out;
}

.transferToVault .title {
  font-size: 32px;
  font-weight: 900;
}

.transferToVault .inputField {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--subcolor);
  border-radius: 10px;
  border: 1px solid var(--border);
  font-size: 24px;
}

.transferToVault .inputField input {
  width: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lighttext);
}

.transferToVault .inputField label {
  width: 30%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 900;
}

.transferToVault .inputError {
  border-color: rgba(255, 48, 48, 0.498);
  color: rgb(74, 0, 0);
}

.transferToVault button {
  padding: 10px 50px;
  background: var(--gradient);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  width: fit-content;
  align-self: flex-end;
}

.cancel_btu {
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center;
}

.cancel_btu svg {
  stroke: var(--transparent);
  transition: stroke 0.3s ease;
}

.cancel_btu:hover svg {
  stroke: var(--lighttext);
}

.cancel_btu:hover {
  background-color: var(--transparent);
  transform: scale(1.1);
}

.error {
  color: red;
  margin: 10px 0;
  font-size: 18px;
}

.success {
  color: green;
  margin: 10px 0;
  font-size: 18px;
}

.vaultDistination {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--subcolor);
  border-radius: 10px;
  border: 1px solid var(--border);
  font-size: 24px;
  /* height: 70px; */
}

.vaultDistination .vaultLabel {
  width: 30%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 900;
}
.vaultDistination p {
  width: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--foreground);
  display: flex;
  align-items: center;
  font-size: 24px;
}
.transferIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.transferIcon svg {
  fill: var(--foreground);
}

.inputError {
  border-color: red;
}
