/** @format */

.dashboard_payment {
  width: 65%;
  padding: 5% 0;
  padding-right: 2%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* payment title */

.payment_title {
  font-weight: 900;
  font-size: 35px;
  margin: 5% 0;
}
