/** @format */

.otpOptionsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

.otp_title {
  font-size: 32px;
  font-weight: 900;
  margin: 1% 0;
}

.otp_desc {
  font-size: 18px;
  font-weight: 300;
  margin: 1% 0 3% 0;
}

.channels {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 5% 0;
}

.channel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  padding: 50px;
  height: 255px;
  width: 255px;
  border-radius: 15px;
  transition: background-color 0.2s ease;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  transition: 0.5s ease-in-out;
}

.selected {
  border: 3px var(--border) dashed;
}
