/** @format */

.settings_otp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--subcolor);
  border-radius: 10px;
  border: 1px solid var(--border);
  width: fit-content;
}
