/** @format */

.settings_otp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--subcolor);
  border-radius: 10px;
  border: 1px solid var(--border);
  width: 100%;
}

.otp_input {
  display: flex;
  gap: 20px;
}
.otp_input input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 18px;
}
