/** @format */

.settings_otp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  background-color: var(--subcolor);
  border-radius: 10px;
  border: 1px solid var(--border);
  width: 100%;
}

.settings_otp p {
  font-size: 18px;
  font-weight: 300;
}

.settings_otp .select_otp_options {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--darkSubcolor);
  color: var(--lighttext);
}

.settings_otp input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--darkSubcolor);
  color: var(--lighttext);
}

.settings_otp .resend_otp {
  color: #241e77;
  font-size: 15px;
  cursor: pointer;
}
