/** @format */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.settings_section_body {
  animation: slideDown 0.5s ease-out;
}

.avatar_upload {
  animation: slideDown 0.5s ease-out;
}

.avatar_grid {
  animation: slideDown 0.5s ease-out;
}

.settings_section_body form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings_section_body form input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--darkSubcolor);
  color: var(--lighttext);
}

.settings_section_body form .inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings_section_body form .inputField label {
  font-size: 15px;
  font-weight: 300;
}
