/** @format */

.settings_section_body form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings_section_body form input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--darkSubcolor);
  color: var(--lighttext);
}
