/**
 * main page
 *
 * @format
 */

.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}

/* secondContainer
* ======================================================
*/

.loginPage .secondContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-image: var(--gradient);
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 90%;
  border-radius: 20px;
  padding: 60px;
  color: white;
  text-align: center;
}

.loginPage .secondContainer .writeUp {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.loginPage .secondContainer * {
  position: relative;
  z-index: 1;
}

.loginPage .secondContainer h1 {
  font-size: 30px;
  font-weight: 900;
}

.loginPage .secondContainer p {
  font-size: 18px;
  font-weight: 200;
  width: 80%;
}

.loginPage .secondContainer .image {
  position: absolute;
  bottom: 0px;
  right: -4px;
  width: 700px;
  transform: translateY(0%);
}

.loginPage .secondContainer .image img {
  width: 100%;
  height: auto;
}

/* login form
* ======================================================
*/

.loginInput {
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}

.loginInput .titleAndDetails {
  margin: 5% 0;
}

.loginInput .titleAndDetails .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loginInput .titleAndDetails .logo h1 {
  font-size: 24px;
  font-weight: 700;
}

.loginInput .titleAndDetails h2 {
  font-size: 30px;
  font-weight: 900;
}

.loginInput .titleAndDetails p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}

form .input {
  position: relative;
  margin-bottom: 25px;
}

form .input input {
  width: 100%;
  padding: 15px 15px 15px 50px;
  border: 1px solid var(--border);
  background-color: var(--subcolor);
  border-radius: 10px;
  outline: none;
}

form .inputField label {
  color: var(--foreground);
  padding-bottom: 20px;
  font-size: 15px;
}

form .input input:focus {
  border-color: 1px solid var(--foreground);
}

form .input svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--foreground);
}

form .input .seePassword {
  /* right: 10px; */
  position: absolute;
  left: 92%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--foreground);
}

.forgottenPassword {
  display: flex;
  justify-content: flex-end;
  color: #241e77;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

button {
  background: var(--gradient);
  color: white;
  padding: 15px 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

.suspended-timer {
  position: absolute;
  bottom: 30px;
  right: 70px;
  z-index: 200;
  background-color: var(--subcolor);
  color: var(--lighttext);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  animation: slideUp 0.5s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.timer {
  font-weight: 600;
  color: #241e77;
  animation: slideUp 0.6s ease-out;
}

.errorSuspended {
  position: absolute;
  bottom: 30px;
  right: 70px;
  z-index: 200;
  background-color: var(--subcolor);
  color: var(--lighttext);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  animation: slideUp 0.5s ease;
}
