/** @format */

.withdraw_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100;
}

.withdrawVault {
  background-color: var(--background);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: popup 0.3s ease-out;
  width: 700px;
}

.withdrawVault .title {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.withdrawVault h1 {
  font-size: 32px;
  font-weight: 900;
}

button {
  padding: 10px 50px;
  background: var(--gradient);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  width: fit-content;
  font-size: 18px;
}

.cancel_btu {
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center;
}

.cancel_btu svg {
  stroke: var(--transparent);
  transition: stroke 0.3s ease;
}

.cancel_btu:hover svg {
  stroke: var(--lighttext);
}

.cancel_btu:hover {
  background-color: var(--transparent);
  transform: scale(1.1);
}

.error {
  color: red;
  margin: 10px 0;
  font-size: 18px;
}

.success {
  color: green;
  margin: 10px 0;
  font-size: 18px;
}

.vault_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  padding: 20px;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.warning {
  font-size: 18px;
  font-weight: 900;
}

.channelSelect {
  display: flex;
  gap: 20px;
  background-color: var(--subcolor);
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
  width: fit-content;
}

.channelSelect label {
  border: none;
  outline: none;
  font-weight: 900;
}

.enterOtp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enterOtp input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--subcolor);
  outline: none;
}
