/** @format */

.dashboard_home {
  width: 60%;
  padding: 5% 0;
}

/* Home welcome message======= */

.Home_welcomeMsg {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  width: fit-content;
}

.Home_welcomeMsg_profile {
  overflow: hidden;
  width: 24px;
  height: 34px;
}
