/** @format */

.bashboard_wallet {
  width: 65%;
  padding: 5% 0;
  padding-right: 2%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* wallet title */

.wallet_title {
  font-size: 32px;
  font-weight: 900;
  margin: 5% 0;
}

/*wallet main*/

.wallet_main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wallet_card {
  display: flex;
}
