/** @format */

.bashboard_wallet {
  width: 65%;
  padding: 5% 0;
  padding-right: 2%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* wallet title */

.wallet_title {
  font-size: 32px;
  font-weight: 900;
  margin: 5% 0;
}

/*wallet main*/

.wallet_main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wallet_card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.wallet_card_title:hover {
  font-weight: 600;
}

.wallet_card_title:hover svg {
  transform: rotate(180deg);
}

.add_on {
  font-weight: 600;
  background-color: var(--subcolor);
}

.wallet_card_title svg {
  fill: var(--foreground);
  transform-origin: center;
  transition: 500ms ease-in-out;
}

.wallet_icon {
  transform: rotate(180deg);
}
