/** @format */

.avatar_tabs {
  display: flex;
  gap: 20px;
  margin: 0 20px;
}

.avatar_tabs div {
  margin-top: 20px;
  background-color: var(--subcolor);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  cursor: pointer;
  width: fit-content;
}
