/** @format */

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.setting-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  background-color: var(--background);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: popup 0.3s ease-out;
  width: 700px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.settings_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid var(--border);
  padding: 30px 0;
  transition:
    0.5s ease,
    border 0.5s ease;
}

.settings_section:hover {
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  padding: 30px;
  border-radius: 10px;
}

.settings_section_header {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.setting_icon svg {
  fill: var(--foreground);
}

.setting_icon {
  transition: transform 0.3s ease;
}

.setting_icon.active {
  transform: rotate(180deg);
}

/* avatar modal styles */

.settings_avatar_section {
  animation: slideDown 0.5s ease-out;
}

.settings_avatar_wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.settings_avatar_wrapper:hover {
  transform: scale(1.05);
}

.settings_avatar_wrapper:hover .settings_avatar_overlay {
  transform: scale(1.05);
}

.avatar_container {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.settings_avatar_wrapper:hover .avatar_container {
  filter: blur(0.5px);
  opacity: 0.7;
}

.avatar_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings_avatar_overlay {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  right: -40px;
  background-color: var(--subcolor);
  padding: 5px 10px;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform-origin: center;
  border: 1px solid var(--border);
}

.settings_avatar_overlay svg {
  fill: var(--foreground);
}

.avatar_modal_title {
  display: flex;
  align-items: center;
}

.avatar_modal_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0;
  border-bottom: 1px solid var(--border);
  margin-bottom: 20px;
}

.avatar_tabs {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.avatar_tabs div {
  margin-top: 20px;
  background-color: var(--subcolor);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  cursor: pointer;
  width: fit-content;
}

.avatar_tabs div:nth-child(2) {
  color: #241e77;
}

.avatar_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: fit-content;
  margin: 3% 0;
}

.avatar_grid .avatar_option {
  border: 2px solid var(--border);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 40px;
  background-color: var(--subcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_grid .avatar_option.selected {
  border-color: var(--lighttext);
}

.avatar_grid .avatar_option:hover {
  transform: translateY(-3px);
}

.inputchoice {
  margin: 20px 0;
  width: fit-content;
  padding: 20px 20px;
  border-radius: 10px;
  border: 4px dotted var(--border);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.formLabel {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--subcolor);
  padding: 10px 20px;
  border-radius: 10px;
}

#avatar {
  display: none;
}

.avatar_preview {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px 0;
  background-color: var(--subcolor);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar_upload {
  background-color: var(--subcolor);
  padding: 30px;
  border-radius: 10px;
  border: 3px dotted var(--border);
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.avatar_placeholder svg {
  width: 50px;
  height: 50px;
  fill: var(--foreground);
}

.avatar_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: var(--border);
  border-radius: 10px;
}
