/** @format */

.setting-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  background-color: var(--background);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: popup 0.3s ease-out;
  width: 700px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.settings_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid var(--border);
  padding-bottom: 30px;
  transition:
    0.5s ease,
    border 0.5s ease;
}

.settings_section:hover {
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  padding: 30px;
  border-radius: 10px;
}

.settings_section_header {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.setting_icon svg {
  fill: var(--foreground);
}

.setting_icon {
  transition: transform 0.3s ease;
}

.setting_icon.active {
  transform: rotate(180deg);
}

.settings_avatar_wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.settings_avatar_wrapper:hover {
  transform: scale(1.05);
}

.settings_avatar_wrapper:hover .settings_avatar_overlay {
  transform: scale(1.05);
}

.avatar_container {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.settings_avatar_wrapper:hover .avatar_container {
  filter: blur(0.5px);
  opacity: 0.7;
}

.avatar_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings_avatar_overlay {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  right: -40px;
  background-color: var(--subcolor);
  padding: 5px 10px;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform-origin: center;
}

.settings_avatar_overlay svg {
  fill: var(--foreground);
}

.avatar_modal_title {
  display: flex;
  align-items: center;
}

.avatar_modal_title svg {
  fill: var(--foreground);
  margin-right: 20px;
}
