/** @format */

.bashboard_navbar {
  width: 38%;
  border-right: 1px solid var(--border);
  height: 100vh;
  background-color: var(--background);
  margin-right: 2%;
  padding: 5% 2%;
}

.bashboard_navbar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bashboard_navbar nav .bashboard_navbar_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bashboard_navbar nav .bashboard_navbar_links a {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
  transition: 500ms ease-in-out;
}

.bashboard_navbar nav a svg {
  fill: var(--foreground);
  width: 24px;
  height: 24px;
}

.bashboard_navbar nav a:hover {
  padding: 10px 30px;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.bashboard_navbar nav .bashboard_navbar_links .active {
  padding: 10px 30px;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  border-radius: 10px;
  color: #241e77;
}
.bashboard_navbar nav .bashboard_navbar_links .active svg {
  fill: #241e77;
}

/* card Style==================================== */
.card {
  background-color: #241e77;
  background: scroll var(--gradient);
  color: #ffffff;
  overflow: hidden;
  margin: 5% 0;
  padding: 40px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100px;
}
