.bashboard_navbar {
  width: 30%;
  border-right: 1px solid var(--border);
  height: 100vh;
  background-color: var(--background);
  padding: 5% 2%;
}

.bashboard_navbar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bashboard_navbar nav .bashboard_navbar_link {
  display: flex;
  float: auto;
}

.bashboard_navbar nav a svg {
  fill: var(--foreground);
}
