/** @format */

.bashboard_account {
  width: 65%;
  padding: 5% 0;
  padding-right: 2%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* account details which was mistaken as Link* */

.Account_Link {
  margin: 5% 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.Account_Link_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.Account_Link_image img {
  width: 100px;
  height: auto;
}

.Account_Link h1 {
  font-weight: 900;
  font-size: 35px;
}

/* account Link which was mistaken as Detail* */

.Account_Detail {
  margin: 5% 0;
}

.Account_Detail_title {
  margin: 5% 0;
  font-size: 20px;
  font-weight: 800;
}

.Account_Detail_link {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
}

.Account_Detail_link a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--border);
  transition: 500ms ease-in-out;
}

.Account_Detail_link a:hover {
  padding: 30px 20px;
  background-color: var(--subcolor);
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-top: 20px;
}

.Account_Detail_link .Account_Detail_LinkDetails {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Account_Detail_logoutBtu {
  color: #e60101;
}
